body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #282c34;
  color: white;
}

.app {
  text-align: center;
}

.play-button {
  background-color: #61dafb;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.play-button h1 {
  margin: 0;
}

.question h3 {
  margin-bottom: 20px;
}

.key-options button {
  margin: 5px;
  padding: 10px;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: black;
}

.key-options button:disabled {
  background-color: #333;
  cursor: not-allowed;
}

.game-over-screen,
.well-done-screen {
  font-size: 2rem;
}
